.App {
}

.App-header {
}

.page-box {
  display: flex;
  gap: 15px;
  height: 50px;
  width: 120px;
  border: 2px solid black;
  padding: 0 10px;
}

img {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.last-table {
  width: 30px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 43px;
  position: relative;
  user-select: none;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.table-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  position: relative;
}

.dropdown {
  height: 40px;
}

.dropdown-input {
  height: 35px;
  width: 100px;
  position: absolute;
  top: 10px;
  font-size: 16px;
}

.dropdown-input-header {
  height: 35px;
  width: 100px;
}

.arrow-back {
  transform: scale(-1, 1);
}

.sort {
  cursor: default;
}

.sort-back {
  transform: scaleY(-1);
  cursor: default;
}

.checkmark {
  width: 37px;
  position: absolute;
  left: 5px;
  top: 14px;
}
